* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 5;
  min-height: 51px;
  background-color: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 42px;
}
.menu_item:last-child {
  border-right: none;
}

.subheader {
  top: 50px;
  background: rgba(0, 0, 0, 0.6);
  mix-blend-mode: normal;
  min-height: 78px;
  position: absolute;
  width: 100%;
}
.subheader .logo_header {
  margin-top: 17px;
  max-width: 100%;
}
.subheader .under_logo {
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.6;
}
.subheader .above_number {
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  text-align: right;
  margin-top: 19px;
  opacity: 0.6;
}
.subheader .number {
  display: block;
  margin-top: 7px;
  font-weight: 400;
  font-size: 22px;
  line-height: 12px;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.subheader .call {
  width: 172px;
  height: 46px;
  margin-top: 19px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.subheader .call:hover {
  background-image: none;
  background-color: #1EACC7;
}

.promo {
  min-height: 800px;
  padding: 150px 0 185px 0;
  background: url("../img/uber_bg.png") center center/cover no-repeat;
}
.promo .promo_title {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 56px;
}
.promo .promo_subtitle {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 22px;
  line-height: 39px;
}
.promo .promo_text {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.promo .promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 115px;
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo .promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.advantage {
  min-height: 850px;
  background: #FFFFFF;
  padding: 18px 0 64px 0;
}

.advantage_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}
.advantage .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 116px;
  height: 116px;
  background: #1EACC7;
  border-radius: 100%;
  margin-right: 26px;
}
.advantage_text {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}

.advantage_descr {
  width: 340px;
}
.advantage_descr .advantage_subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
}

.label {
  width: 113px;
  height: 24px;
  font-weight: 400;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #000000;
}

.title {
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
  margin-top: 33px;
}

.subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  margin-top: 1px;
  color: #222222;
}

.mobile {
  padding: 48px 0 80px 0;
  background: url("../img/mobile_bg.png");
  min-height: 864px;
}
.mobile .row {
  margin-top: 30px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
}
.mobile_item .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 29px;
  height: 29px;
  background: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_item .round::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobile_item .round::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobile_item .round:hover:before, .mobile_item .round:hover:after {
  background-color: #FF5656;
}
.mobile_descr {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding-top: 89px;
}
.mobile .mobile_item-1 {
  background: url("../icons/mobile/1.png");
  margin-top: 19px;
}
.mobile .mobile_item-2 {
  background: url("../icons/mobile/2.png");
  margin-top: 19px;
}
.mobile .mobile_item-3 {
  background: url("../icons/mobile/3.png");
  margin-top: 19px;
}
.mobile .mobile_item-4 {
  background: url("../icons/mobile/4.png");
  margin-top: 19px;
}
.mobile .mobile_item-5 {
  background: url("../icons/mobile/5.png");
  margin-top: 19px;
}
.mobile .mobile_item-6 {
  background: url("../icons/mobile/6.png");
  margin-top: 19px;
}

.possibility {
  min-height: 502px;
  padding: 56px 0 322px 0;
  background: #070716;
}
.possibility .label {
  background: #ffffff;
  color: #000000;
}
.possibility .subtitle {
  color: #ffffff;
  margin-top: 27px;
}
.possibility .title {
  color: #ffffff;
}

.possibility_bottom {
  position: relative;
  min-height: 397px;
  padding: 210px 0 137px 0;
  background: url("../img/mobile_bg.png");
}
.possibility_bottom img {
  position: absolute;
  bottom: 184px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.possibility_bottom_text {
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  color: #222222;
  width: 327px;
}

.condition {
  padding: 68px 0 87px 0;
  min-height: 917px;
}
.condition_subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #1EACC7;
}
.condition .condition_list_1 {
  list-style-image: url("../icons/check_blue.png");
}
.condition .block_1 {
  margin: 33px 0;
}
.condition .condition_list_2 {
  list-style-image: url("../icons/check_blue.png");
}
.condition .block_2 {
  margin: 33px 0;
}
.condition_subtitle-3 {
  color: #FF5656;
}
.condition .condition_list_3 {
  list-style: url("../icons/check_red.png");
}
.condition .block_3 {
  margin-top: 33px;
  margin-bottom: 0px;
}
.condition_subtitle-4 {
  color: #FF5656;
}
.condition .condition_list_4 {
  list-style: url("../icons/check_red.png");
}
.condition .block_4 {
  margin-top: 33px;
  margin-bottom: 0px;
}
.condition_list {
  padding-left: 45px;
  margin-top: 20px;
}
.condition_list li {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 10px;
}
.condition_text {
  font-weight: 300;
  font-size: 17px;
  color: #1EACC7;
}

.world {
  width: 100%;
  min-height: 716px;
  padding: 48px 0 21.5px 0;
  background: url("../img/world_bg.png");
}
.world .label {
  background-color: #ffffff;
  color: #000000;
}
.world .title {
  margin-top: 26px;
  color: #ffffff;
}
.world .subtitle {
  margin-top: 2px;
  color: #ffffff;
  opacity: 0.9;
}
.world_bottom_text {
  margin-top: 456px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.world_bottom_text a {
  outline: none;
  text-decoration: none;
  color: #1EACC7;
}
.world_bottom_text a:hover {
  color: #FF5656;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.worldbutton {
  font-weight: 400;
  font-size: 15px;
  line-height: 68px;
}

.footer {
  min-height: 160px;
  padding: 14px 22px 40px 22px;
}
.footer_line {
  height: 4px;
  width: 300px;
  background-color: #1EACC7;
  margin: 0 auto;
}
.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 32px;
}
.footer_wrapper > div {
  width: 33%;
}
.footer_wrapper > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer_social {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer_social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #070716;
  text-decoration: none;
}
.footer_social_item i {
  color: #fff;
}
.footer_center {
  width: 410px;
  margin: 0 auto;
}
.footer_center_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}
.footer_center_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
.footer_center_bottom a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}
.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1EACC7;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.footer_top_link {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: #070716;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 12px;
  }
  .promo_header {
    font-size: 50px;
  }
  .advantage_item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .mobile_item {
    width: 305px;
  }
  .footer_wrapper {
    height: 160px;
  }
  .footer_download {
    width: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer_download .img_footer {
    margin-top: 8px;
  }
}
@media (max-width: 991px) {
  .menu {
    padding: 13px 32px;
  }
  .menu_item {
    padding-right: 9px;
  }
  .menu_link {
    font-size: 12px;
  }
  .subheader {
    min-height: 68px;
  }
  .subheader .number {
    font-size: 20px;
  }
  .subheader .above_number {
    margin-top: 10px;
  }
  .subheader .call {
    margin-top: 11px;
  }
  .subheader .under_logo {
    font-size: 12px;
  }
  .subheader .logo_header {
    margin-top: 11px;
  }
  .promo .title {
    font-size: 50px;
  }
  .promo .subtitle {
    font-size: 50px;
  }
}/*# sourceMappingURL=style.css.map */